.find__header-list {
  display: flex;
  justify-content: space-around;
  padding: 0px 15px;
  margin-top: 40px;
}
.header-btn__icon i {
  display: block;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.find__recommend {
  padding: 20px 0px;
  margin: 35px 0px;
  border-top: 1px solid darkgoldenrod;
}
.find__recommend .find__title {
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  opacity: 0.6;
}
