.friends__friend {
  margin-top: 15px;
}
.friends__plus {
  margin-top: 20px;
  padding: 20px 0px;
  border-bottom: 1px solid darkgoldenrod;
  border-top: 1px solid darkgoldenrod;
  margin-bottom: 20px;
}
.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 20px;
  opacity: 0.6;
  margin-bottom: 10px;
}
