@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Cantarell:400,700&display=swap");
@import "reset.css";
@import "statusbar.css";
@import "header.css";
@import "navbar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "setting.css";
@import "chat.css";
@import "mobile.css";

* {
  box-sizing: border-box;
}

body {
  background-color: peachpuff;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding:으로 묶어쓰면 앞쪽은 top&bottom 뒤쪽은 left&right*/
  color: peru;
  font-family: Cantarell, "Amatic SC", Arial, Helvetica, sans-serif;
  margin-top: 40px;
}
a {
  color: inherit; /*부모컬러를 가져오겠다*/
  text-decoration: none;
}
@keyframes showMain {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main {
  animation: showMain 0.5s ease-in forwards;
}
